name: Incoming PR
run-name: PR opened by ${{ github.actor }} 
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review] 
    branches: [main]

jobs:
  run-snowflake-test-dbt-job:
    name: "Run on Incoming PR"
    runs-on: ubuntu-latest
    environment: prod # the name of this environment must match the subject of the OIDC user
    env: 
      SNOWFLAKE_CLI_FEATURES_ENABLE_DBT: true
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_SCHEMA: ${{ vars.SNOWFLAKE_SCHEMA }}
      SNOWFLAKE_PRIVATE_KEY: ${{ secrets.SNOWFLAKE_PRIVATE_KEY }}
      SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}

    steps:
      # Check out repository code
      # Gets the latest code from the incoming pull request
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install Snowflake CLI
        uses: snowflakedb/snowflake-cli-action@v2.0
        
      - name: Check Snowflake CLI Version
        run: snow --version

      - name: Create private key file
        run: |
          mkdir -p "$GITHUB_WORKSPACE/.secrets"
          # preserve newlines safely
          printf '%s' "$SNOWFLAKE_PRIVATE_KEY" > "$GITHUB_WORKSPACE/.secrets/snowflake_key.p8"
          chmod 600 "$GITHUB_WORKSPACE/.secrets/snowflake_key.p8"
          # expose the path to subsequent steps
          echo "SNOWFLAKE_PRIVATE_KEY_PATH=$GITHUB_WORKSPACE/.secrets/snowflake_key.p8" >> $GITHUB_ENV
        shell: bash

      - name: CHnage to directory
        run: cd $DBT_PROJECT_DIR
      
      # The -x is short hand for --temporary-connection
      - name: Test connection
        run: snow connection test -x

      - name: Install dbt dependencies
        run: dbt deps

      # The --force setting creates the object or updates it if it already exists
      # You can remove the "-- source" flag if your dbt_project.yml is at root of your repo
      - name: Create a new TESTER dbt project object in ${{ vars.SNOWFLAKE_ACCOUNT }} 
        run: snow dbt deploy TESTER_dbt_object_gh_action --force -x
          
      - name: List all of the snowflake dbt project objects on ${{ vars.SNOWFLAKE_ACCOUNT }}
        run: snow dbt list -x
      
      - name: Execute run on TESTER dbt project object in ${{ vars.SNOWFLAKE_ACCOUNT }} 
        run: snow dbt execute -x TESTER_dbt_object_gh_action run --select path:models\example\dependency --target dev

      - name: Execute data quality test on TESTER dbt project object in ${{ vars.SNOWFLAKE_ACCOUNT }}
        run: snow dbt execute -x TESTER_dbt_object_gh_action test --select path:models\example\dependency --target dev
